.homepage-main-section {
  display: flex;
  flex-direction: row;
  font-family: serif;
  background: #9ABBB7;
  height: 90vh;
  border-top: 4px black dotted;
  overflow: hidden;
}

.homepage-main-1 {
  text-align: center;
  width: 50vw;
  color: #fff;

  height: 90vh;

  margin-bottom: 2rem;
}

.start-button {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 24px;
  padding: 16px 32px;
  border: 4px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(153, 149, 149, 0.1);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.start-button:hover {
  transform: scale(1.03);
}

.homepage-main-2 {
  width: 25vw;
}

.homepage-main-1 p {
  line-height: 1.1;
  font-size: 5.5rem;
  margin-top: 10vh;
  -webkit-text-stroke: 3px #888;
  text-shadow: 0 3.8px 0 #888, 0 4px 0 #fff;
  letter-spacing: -1px;
  font-weight: 800;
  padding: 0;
}

.homepage-bottom-container {
  background-color: #d1d3d4;
  border-bottom: #888 8px solid;
}
.homepage-bottom-container > .header-div p{
  height: fit-content;
  margin-left: 5vw;
  margin-top: 20vh;
  font-family: 'Georgia', serif;
  font-size: 36px;
  font-weight: 900; 
  color: #000000;
  margin-bottom: 24px;
}

#studentImg {
  position: relative;
  top: 52.5vh;
  width: 20vw;
  left: 2vw;
}

#teacherImg {
  position: relative;
  top: 25vh;
  right: 4vw;
  width: 20vw;
}
.empty-space{
  height: 5vh;
  border-bottom: black dotted 3px;
}

#bottom-logo{
  width: 15vw;
  height: 22vh;
  margin-top: 3vh;
  margin-left: 57.5vw;
}
.header-div{
  display: flex;
}

.lessons-container{
  margin-top: 7vh;
  margin-left: 17vw;
  display: grid;
  grid-template-columns: 30vw 30vw;
  row-gap: 3vh;
  column-gap: 8vw;
  margin-bottom: 10vh;
}